@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply text-gray-900;
}

.arabic-text {
  font-family: "Traditional Arabic", serif;
  direction: rtl;
}
.custom-border {
  border: 0.5px solid rgb(226, 226, 226);
}
p {
  color: rgb(57, 57, 57);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px !important;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ede9e9;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #b3b2b29e;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.text-shadow {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: limegreen;
} 
